{% extends "lib/webinterface/fragments/layout.tpl" %}
{% import "lib/webinterface/fragments/macros.tpl" as macros%}
{% block head_css %}{% include 'lib/webinterface/fragments/datatables_css.tpl' %}{% endblock %}

{% block content %}
<img id="img-buffer" src="/static/img/logo-100px.png" hidden>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Phone Module<br>
                    <p></p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <p>
                    This module adds basic support for phones. By itself, it doesn't do much, however, other
                    modules access the details to provide additional functionality such as SMS and Bluetooth
                    tracking. We suggest adding the <a href="/modules/NJ4KLVQjRvr/server_details">Bandwidth.com module</a>
                    to integrate SMS notifications.
                    </p>
                    <p>
                        <strong>Add new phones:</strong>
                    <form class="pull-left" role="form"  style="padding-right: 10px;" action="/devices/add/{{phonemodule.phone_types['phone']['device_type']}}" method="post">
                        <button type="submit" class="btn btn-primary">Basic</button>
                    </form>
                    <form class="pull-left" role="form"  style="padding-right: 10px;" action="/devices/add/{{phonemodule.phone_types['fax']['device_type']}}" method="post">
                        <button type="submit" class="btn btn-primary">Fax</button>
                    </form>
                    <form class="pull-left" role="form"  style="padding-right: 10px;" action="/devices/add/{{phonemodule.phone_types['mobile']['device_type']}}" method="post">
                        <button type="submit" class="btn btn-primary">Generic Mobile</button>
                    </form>
                    <form class="pull-left" role="form"  style="padding-right: 10px;" action="/devices/add/{{phonemodule.phone_types['android']['device_type']}}" method="post">
                        <button type="submit" class="btn btn-primary">Android</button>
                    </form>
                    <form class="pull-left" role="form"  style="padding-right: 10px;" action="/devices/add/{{phonemodule.phone_types['apple']['device_type']}}" method="post">
                        <button type="submit" class="btn btn-primary">Apple</button>
                    </form>
                    <div style="clear: both"></div>
                    </p>
                    <p>
                    </p>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Configured phones</strong>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
<table width="100%" class="table table-striped table-bordered table-hover" id="requirements">
    <thead>
        <tr>
            <th>Phone Name</th><th>Type</th><th>Notification Targets</th><th>User</th>
        </tr>
    </thead>
    <tbody>
    {% for phone_id, phone in yombo._DeviceTypes.devices_by_device_type(phonemodule.phone_types['phone']['device_type']).items() %}
        <tr>
            <td>
                <strong><a href="/modules_settings/phone/{{phone_id}}/details">{{phone.label}}</a></strong><br>
                {{phone.phone_number}}<br>
                (<a href="/modules_settings/phone/{{phone_id}}/edit">edit targets</a>,
                <a href="/devices/{{phone_id}}/details">device details</a>)
            </td>
            <td>Basic</td>
            <td> {{phonemodule.node.data['phones'][phone_id]['targets']|join(', ')}}</td>
            <td> {{phone.phone_user}}</td>
        </tr>
    {% endfor %}
    {% for phone_id, phone in yombo._DeviceTypes.devices_by_device_type(phonemodule.phone_types['fax']['device_type']).items() %}
        <tr>
            <td>
                <strong><a href="/modules_settings/phone/{{phone_id}}/details">{{phone.label}}</a></strong><br>
                {{phone.phone_number}}<br>
                (<a href="/modules_settings/phone/{{phone_id}}/edit">edit targets</a>,
                <a href="/devices/{{phone_id}}/details">device details</a>)
            </td>
            <td>Fax</td>
            <td> {{phonemodule.node.data['phones'][phone_id]['targets']|join(', ')}}</td>
            <td> {{phone.phone_user}}</td>
        </tr>
    {% endfor %}
    {% for phone_id, phone in yombo._DeviceTypes.devices_by_device_type(phonemodule.phone_types['mobile']['device_type']).items() %}
        <tr>
            <td>
                <strong><a href="/modules_settings/phone/{{phone_id}}/details">{{phone.label}}</a></strong><br>
                {{phone.phone_number}}<br>
                (<a href="/modules_settings/phone/{{phone_id}}/edit">edit targets</a>,
                <a href="/devices/{{phone_id}}/details">device details</a>)
            </td>
            <td>Generic Mobile</td>
            <td> {{phonemodule.node.data['phones'][phone_id]['targets']|join(', ')}}</td>
            <td> {{phone.phone_user}}</td>
        </tr>
    {% endfor %}
    {% for phone_id, phone in yombo._DeviceTypes.devices_by_device_type(phonemodule.phone_types['android']['device_type']).items() %}
        <tr>
            <td>
                <strong><a href="/modules_settings/phone/{{phone_id}}/details">{{phone.label}}</a></strong><br>
                {{phone.phone_number}}<br>
                (<a href="/modules_settings/phone/{{phone_id}}/edit">edit targets</a>,
                <a href="/devices/{{phone_id}}/details">device details</a>)
            </td>
            <td>Android</td>
            <td> {{phonemodule.node.data['phones'][phone_id]['targets']|join(', ')}}</td>
            <td> {{phone.phone_user}}</td>
        </tr>
    {% endfor %}
    {% for phone_id, phone in yombo._DeviceTypes.devices_by_device_type(phonemodule.phone_types['apple']['device_type']).items() %}
        <tr>
            <td>
                <strong><a href="/modules_settings/phone/{{phone_id}}/details">{{phone.label}}</a></strong><br>
                {{phone.phone_number}}<br>
                (<a href="/modules_settings/phone/{{phone_id}}/edit">edit targets</a>,
                <a href="/devices/{{phone_id}}/details">device details</a>)
            </td>
            <td>Apple</td>
            <td> {{phonemodule.node.data['phones'][phone_id]['targets']|join(', ')}}</td>
            <td> {{phone.phone_user}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
                            </p>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->

{% endblock %}
{% block body_bottom_js %}{% include 'lib/webinterface/fragments/datatables_js.tpl' %}{% endblock %}

{% block body_bottom %}
{% include 'lib/webinterface/fragments/select_js.tpl' %}
    <script type="text/javascript" src="/static/js/jquery.serializejson.min.js"></script>
    <script>
        $("#alexadevices").submit(function(event) {
            console.log("asdf");
            var rawData = $('#alexadevices').serializeJSON();
            var formData = JSON.stringify(rawData);
            console.log(formData);
            $('#json_output').val(formData)
            console.log(formData);
        });
    </script>

{% endblock %}
